<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Fabflix</display-name>
  <welcome-file-list>
    <welcome-file>LoginPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Testing</servlet-name>
    <servlet-class>servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testing</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindMovie</servlet-name>
    <url-pattern>/FindMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindMovie</servlet-name>
    <servlet-class>servlets.FindMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMovie</servlet-name>
    <servlet-class>servlets.GetMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMovie</servlet-name>
    <url-pattern>/GetMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetStar</servlet-name>
    <servlet-class>servlets.GetStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStar</servlet-name>
    <url-pattern>/GetStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SortMovie</servlet-name>
    <servlet-class>servlets.SortMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortMovie</servlet-name>
    <url-pattern>/SortMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pagination</servlet-name>
    <servlet-class>servlets.Pagination</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pagination</servlet-name>
    <url-pattern>/Pagination</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetGenre</servlet-name>
    <servlet-class>servlets.GetGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGenre</servlet-name>
    <url-pattern>/GetGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddItem</servlet-name>
    <servlet-class>servlets.AddItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItem</servlet-name>
    <url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowseGenre</servlet-name>
    <servlet-class>servlets.BrowseGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseGenre</servlet-name>
    <url-pattern>/BrowseGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowseTitle</servlet-name>
    <servlet-class>servlets.BrowseTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseTitle</servlet-name>
    <url-pattern>/BrowseTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreditCheck</servlet-name>
    <servlet-class>servlets.CreditCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCheck</servlet-name>
    <url-pattern>/CreditCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardLogin</servlet-name>
    <servlet-class>servlets.DashboardLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardLogin</servlet-name>
    <url-pattern>/DashboardLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLogout</servlet-name>
    <servlet-class>servlets.EmployeeLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogout</servlet-name>
    <url-pattern>/EmployeeLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertStar</servlet-name>
    <servlet-class>servlets.InsertStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStar</servlet-name>
    <url-pattern>/InsertStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowMetadata</servlet-name>
    <servlet-class>servlets.ShowMetadata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMetadata</servlet-name>
    <url-pattern>/ShowMetadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoCompleteSearch</servlet-name>
    <servlet-class>servlets.AutoCompleteSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteSearch</servlet-name>
    <url-pattern>/AutoCompleteSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidLogin</servlet-name>
    <servlet-class>servlets.AndroidLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLogin</servlet-name>
    <url-pattern>/AndroidLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndroidSearch</servlet-name>
    <servlet-class>servlets.AndroidSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidSearch</servlet-name>
    <url-pattern>/AndroidSearch</url-pattern>
  </servlet-mapping>
</web-app>